#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-size: x-large;
    font-stretch: ultra-expanded;
    text-align: left;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.right_content {
    background-color: #dddddd;
    bottom: 15px;
    position: absolute;
    top: 172px;
    width: 88.5%;
    text-align:center;
    line-height: 10px;
    font-size: x-large;
    margin-left: 10.5%;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;

}
#loginForm {
    bottom: -200px;
    font-size: medium;
    position: relative;
    
}
