/* 
    Document   : financialTable
    Created on : 2013-07-17, 21:37:02
    Author     : Marta
    Description:
        Purpose of the stylesheet follows.
*/

.financialTable{
    
    color: red;
}

