/* 
    Document   : menu
    Created on : 2013-07-13, 22:18:58
    Author     : Marta
    Description:
    style dla menu
*/

#menu {
    float: left;
    background-color: #c2dfef;
    position: absolute;
    width: 156px;
  
}

#menu .option {
    width: 100%;
    background-repeat: repeat-x;
    
   
}
