/* 
    Document   : menu
    Created on : 2013-07-13, 22:18:58
    Author     : Marta
    Description:
    style dla menu
*/

#menu {
    float: left;
    background-color: #ece3a5;
    width: 10%;
    bottom: 15px;
    position: absolute;
    top: 172px;
}

#menu .option {
    width: 100%;
}
