.opTable{
    position: relative;
    text-align: center;
    color:blue ;
    border: #045491;
    border-style: double;
    font-stretch: expanded;
    line-height: initial;
    top: 15px;
    margin: auto;
    white-space: pre;
    
}   
.panelGroup{
    text-align: center;
    text-decoration-color: #D20005;
    column-gap: calc;
}
.button{
    
   margin: 36px;
   margin-left: -365px;
}
