.savingTable{
   border: medium double #045491;
    color: blue;
    font-stretch: expanded;
    line-height: initial;
    margin: auto;
    position: relative;
    text-align: center;
    top: 15px;
    white-space: pre;
}

