/* 
    Document   : setingsTable
    Created on : 2013-07-20, 18:00:42
    Author     : Marta
    Description:
        Purpose of the stylesheet follows.
*/

.setingsTable {
    border: medium double #045491;
    color: blue;
    font-stretch: expanded;
    line-height: initial;
    margin: auto;
    position: relative;
    text-align: center;
    top: 15px;
    white-space: pre;
}

